body, html {
  background: #eee;
}

.section {
  display: none;
}

.home {
  display: block;
  text-align: center;
}

h1 {
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  /*color: #c5a34b;*/
  color: #39393b;
  font-size: 5em;
  line-height: 1.3em;
  margin-top: 100px;
  margin-bottom: 100px;  
}

.btn {
  font-size: 1.4em;
}

.btn .fa {
  margin-left: 10px;
}