body, html {
  background: #eee;
}

.section {
  display: none;
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  color: #39393b;
  font-size: 3em;
  line-height: 1.2em;
  margin-top: -50px;
  margin-bottom: 180px;
  opacity: 0;
}

.btn {
  font-size: 1.4em;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
}

.btn .fa {
  margin-left: 10px;
}

.fade {
  opacity: 0;
}

/******************************/
/*            HOME            */
/******************************/
.home {
  display: block;
}

.home h1,
.results h1 {
  font-size: 5em;
  line-height: 1.3em;
}

.home .btn {
  font-size: 1.6em;
  margin-bottom: 60px;
  padding: 10px 30px;
}

.home .logos.rise {
  margin-top: 50px;
  opacity: 0;
  position: relative;
}

.home .logos img {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
      -ms-border-radius: 50%;
          border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 5px solid #ccc;
  opacity: 0;
}

.home .logos .btn {
  position: absolute;
  top: 140px;
  left: 462px;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 0px 5px #eee;
     -moz-box-shadow: 0px 0px 0px 5px #eee;
      -ms-box-shadow: 0px 0px 0px 5px #eee;
          box-shadow: 0px 0px 0px 5px #eee;
}

/******************************/
/*          QUESTIONS         */
/******************************/
.answers {
  margin-bottom: 50px;
}

.answers .col-xs-6 {
  padding: 10px 20px;
}

.answers a.btn.btn-info {
  border: 0;
  background: #eee;
  text-align: left;
  display: block;
  color: #999;
  white-space: normal;
  font-size: 1.8em;
}

.answers a.btn.btn-info span {
  font-weight: bold;
}

.answers a.btn.btn-info:hover {
  background: #999;
  color: #eee;
}

.answers a.btn.btn-info.selected {
  background: #5cb85c;
  color: #eee;
}

/******************************/
/*           RESULTS          */
/******************************/
.results .btn .fa {
  margin-left: 0px;
  margin-right: 10px;
}
